<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="tester">
	
	<listeners>
		<listener class-name="utilities.Reporting"/>
		
		
			
		
	</listeners>
  <test name="banking app Test">
  	<parameter  name="browser" value ="chrome"/>
<!--<parameter  name="browser" value ="firefox"/>-->
  	
    <classes>
     
<!--<class name="com.inetbanking.testCases.TC_LoginTest_001"/>-->
<!--<class name="inetbanking_testcases.TC_LoginTesst"/>-->
<class name="inetbanking_testcases.LoginDDT_002"/> 

      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
